.navigation {
    padding-top: 50px;
    padding-bottom: 20px;

    @media (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 100px;
    }

    &__logo {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            position: absolute;
            left: 0;
        }

        & img {
            width: 205px;
            height: 35px;
        }
    }


    &__items {
        display: flex;
        align-items: center;

        & ul {
            display: flex;
            align-items: center;
            margin-bottom: 0rem;

            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                width: 100vw;
                height: 50%;
                justify-content: space-evenly;
                text-align: center;
                align-items: center;
            }

            & > li {
                color: $white;
                font-size: 16px;
                font-weight: bold;
                font-family: $font-titles;
                list-style: none;
                margin-right: 60px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    opacity:0.5;
                    cursor: pointer;
                }

                @media (max-width: 1024px) {
                    margin-right: 0px;
                }
            }

            & > li:last-child {
                margin-right: 0px;
            }
        }

        @media (max-width: 1024px) {
            display: none;
            height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
            z-index: 9999;
            background: #424D63;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            overflow-y: hidden;
        }


    }

    @media (max-width: 375px) {
        padding-bottom: 100px;
    }

 
}

.navigation__items.active {
    display: flex;
    position: fixed;
    z-index: 9998;
    height: 100vh;
    animation: fadeIn .4s ease-in-out;
}

.navigation__items.active.open {
    // Could add some extra animation with the class 'open'
}

