.navigation {
    height: 50px;
    padding-top: 50px;

    &__logo {
        display: flex;
        align-items: center;
    }


    &__items {
        display: flex;
        align-items: center;

        & ul {
            display: flex;
            align-items: center;
            margin-bottom: 0rem;

            & > li {
                color: $white;
                font-size: 16px;
                font-weight: bold;
                font-family: $font-titles;
                list-style: none;
                margin-right: 60px;
            }

            & > li:last-child {
                margin-right: 0px;
            }
        }
    }
}