// COLOR VARIABLES


// Main
$white: #FFFFFF;
$black: #101010;

// Blues
$blue--darkest: rgba(1, 22, 37, 1);
$blue--darker: #1E2A41;
$blue--dark: rgba(66, 77, 99, 1);

// Accents
$citric: #C0D562;

// Text 
$font-text: rgba(255, 255, 255, 0.5);

// Added colors for Hover states and Button
$button--type-A--bg: #daf369;
$button--type-B--text: #011625;
$button--nav--bg: rgba(192, 213, 98, 0.1);
