// COLOR VARIABLES


// Main
$white: #FFFFFF;
$black: #101010;

// Blues
$blue--darkest: rgba(1, 22, 37, 1);
$blue--darker: #1E2A41;
$blue--dark: #424D63;

// Accents
$citric: #C0D562;

// Text 
$font-text: rgba(255, 255, 255, 0.5);
