@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans:300,400,600,700');

// FONT VARIABLES
$font-titles: 'Karla', sans-serif;
$font-display: 'Open Sans', sans-serif;

$font-buttons: 'Karla', sans-serif;
$font-subtitles: 'Open Sans', sans-serif;