
// A normal font weight (400 or 500 depending on the font) for most text
// A heavier font weight (600 or 700) for text you want to emphasize

// Titles big and smaller
h1 {
  font-family: $font-titles;
  color: $white;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.h2--smaller {
  font-family: $font-titles;
  color: $white;
  font-size: 40px;
  
  padding-top: 0px;
  padding-bottom: 0px;
}

h2 {
  font-family: $font-titles;
  color: $white;
  font-size: 40px;
  
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

// Mainly subtitles above the titles of each section
.p--highlight {
  font-family: $font-subtitles;
  color: $font-text;
  font-size: 20px;
  letter-spacing: 0.2em;

  text-transform: uppercase;
}

// Mainly small paragraphs under sections
h3 {
  font-family: $font-subtitles;
  color: $white;
  font-size: 20px;
  font-weight: bold;
}

.text-normal {
  font-family: $font-display;
  color: $font-text;
  font-size: 20px;
}

.text-small, .p--content {
  font-family: $font-display;
  color: $font-text;
  font-size: 16px;
  font-weight: 300;
}

// Tables or other
.text-link {
  font-family: $font-display;
  color: $white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}
