
// Hero
.hero {
    background: $blue--darker;
    min-height: 90vh;

    position: relative;

    &__content {
        //padding-bottom: 50px;

        & > div:first-child {
            @media (min-width: 1024px) {
                justify-content: flex-start!important;
            }
        }
        
        @media (min-width: 992px) and (max-width: 1024px) {
            text-align: center;
            margin: auto;
         }
      
        @media (max-width: 455px) {
            padding-bottom: 80px;
         }
      
         @media (max-width: 400px) {
            padding-bottom: 180px;
         }

        & img {
            height: 80%;
        }

        &--images {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 1024px) {
               opacity: 0.1;
            }

            // SVG Background
            & > :first-child {
                //transform: scale(1.25);
                transform: scale(1.08);
                margin-left: -40%;

                @media (max-width: 1024px) {
                    transform: scale(1.08);
                 }
            
            }
            & > :last-child {
                position: absolute;
                margin-left: -8%;
                transform: scale(1.1);
            }
        }

        &--text { 
            @media (max-width: 1024px) {
                position: absolute;
                text-align: left;
            }
            
            @media (max-width: 375px) {
                padding-top: 115px;
                padding-top: 160px;
            }
        }

    }

    &__buttons {
        margin-top: 70px;

      

        & :first-child {
            margin-right: 25px;

            @media (max-width: 455px) {
                margin-bottom: 30px; 
                margin-left: auto;
                margin-right: auto;
             }
        }


        @media (max-width: 450px) {
            text-align: center;
        }
       
        @media (max-width: 375px) {
            margin-top: 0px;
            padding-bottom: 115px;
        }
    }

    &__svg {
        position: absolute;
        bottom: -99px;
        width: 100%;
        z-index: 999!important;
        height: 100px;
    }
   
}

.hero__content .row > :last-child {
    max-width: 648px;
}

.bg-hero--small {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

// Pairs
.pairs {
    padding-bottom: 50px;
    z-index: 999;

    @media (max-width: 768px) {
        padding-top: 100px;
    }
  

    &__title {
        margin-bottom: 30px
    }
    &__quotes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &--buttons {
            height: 50px;
            width: 50px;
        }
    }
    
   
}


.decentralized,
.marketMaker,
.safu,
.community {
    background: $blue--darkest;

        padding-top: 300px;
  
  
    @media (max-width: 1200px) {
        padding-top: 200px;
    }
  
    @media (max-width: 992px) {
        padding-top: 300px;
    }
    
    @media (max-width: 768px) {
        padding-top: 400px;
    }
   
    @media (max-width: 758px) {
        padding-top: 200px;
    }
    
    @media (max-width: 670px) {
        padding-top: 100px;
    }
 
    @media (max-width: 550px) {
        padding-top: 50px;
    }

    & h1:first-child  {
        //padding-top: 80px;
        padding-bottom: 100px;
        
      
       
        @media (max-width: 758px) {
            padding-top: 200px;
        }
     
    }

    &__content {
        margin-bottom: 100px;

        &--text {
            display: flex;
            flex-direction: column; 
            justify-content: center;
        }
    }

    &__icons {

        & img {
            width: 50px;
            height: 50px;
        }
    }


    // Subcontent card type content
    &__subcontent {
        padding-bottom: 105px;

        &--parts {
            display: flex;

            & :first-child {
                margin-right: 8px;
            }

            @media (max-width: 768px){
                text-align: center;
                display: flex;
                flex-direction: column;

                max-width: 400px;
                margin: auto;
            }
        
          
        }
    }

    &__text {
        margin-top: 8px;

        & p {
            font-family: $font-display;
            color: $font-text;
            font-size: 16px;
        }
    }
}

// DECENTRALISED
.decentralized {
    padding-bottom: 100px;
}

// MARKET MAKER
.marketMaker {
    background: $blue--darker;
    padding-top: 100px;
    position: relative;

}

.bg-liquid--top {
    position: absolute;
    top: -99px;
    width: 100%;
    z-index: 999 !important;
    height: 100px;
}
.bg-liquid--bottom {
    position: absolute;
    bottom: -99px;
    width: 100%;
    z-index: 999 !important;
    height: 100px;
}

// SAFU
.safu {
    background: $blue--darkest;
    padding-top: 200px;
    margin-bottom: -1px;
}

// MetaMask
.metaMask {
    background: $blue--darkest;
    padding-top: 60px;
    padding-bottom: 160px;

    min-height: 550px;
    overflow: hidden;

    @media (max-width: 768px){
        padding-left: 15px;
        padding-right: 15px;
    }

    &__content {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        &--image {
            position: relative;

            & img {
                width: 130%;
                margin-top: 0%;

                @media (min-width: 1024px){
                    margin-top: -5%;
                }
               
                @media (max-width: 880px){
                    display: none;
                }
            
        }
    }

}
}

.bg-metasmask {

    @media (min-width: 768px){
        margin-left: -40%;
    }

    margin-left: -60%;
    position: absolute;
    margin-top: -15%;
}

.community {
    background: $blue--darker;
    padding-top: 100px;
    position: relative;
}

// FEES
.fees {
    background: $blue--darkest;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-bottom: -1px;

    &__content {
        max-width: 650px;
        margin-top: 90px;
        margin-bottom: 100px;

        & ul {
            list-style: none;
            

            & li {
                display: flex;
                justify-content: space-between;
                align-content: center;
                border-top: solid 1px rgba(255,255,255,0.2);
                padding-top: 10px;

                height: 50px;

                & p {
                    color: rgba(255, 255, 255, 1)!important;
                }

                &:last-child {
                    border-bottom: solid 1px  rgba(255,255,255,0.2);
                }
            }
        }
    }
}

// WALKTHROUGH
.walkthrough {
    background: $blue--darkest;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: -1px;

    &__title {
        margin-bottom: 100px;
    }

    &__content {
        & img {
            width: 100px;
            height: 100px;
        }
    }
}

.support {
    background: $blue--darkest;
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {
        margin: auto;
        max-width: 732px;
        margin-bottom: 50px;
    }
}

.now {
    background: $blue--darker;
    padding-top: 100px;
    padding-bottom: 100px;

    &__content {
        padding-bottom: 50px;
    }
}

.now .row {
    border-bottom: solid 1px  rgba(255,255,255,0.2);
    margin-bottom: -1px;

    @media (max-width: 768px) {
        border-bottom: none;
    }
}

.footer {
    background: $blue--darker;
    padding-bottom: 100px;

    & img {
        width: 150px;
        height: 25px;
    }

    &__colTitle {
        & h3 {
            color: $font-text;
            font-size: 16px;
        }
       
    }


    &__text {
        & ul {
            list-style: none;

            & > li {
                color: $white;
                font-size: 16px;
            }
        }
    }
}